# Python Lists Practice Notebook

Write your answers in the code cells below each question.

### Q1. Create an empty list named data and a list numbers with values 5,10,15,20.

In [ ]:
data=[]
list=[5,10,15,20]

### Q2. Create a list with int, float, string, boolean.

In [6]:
list=[4,5.0,"Shivam",True]
print(list)

[4, 5.0, 'Shivam', True]

### Q3. From nums=[10,20,30,40,50], print first and third element.

In [74]:
nums=[10,20,30,40,50]
print(nums[0])
print(nums[2])

10
30

### Q4. Change 30 to 300 using indexing.

In [79]:
a=[10,20,30,40,50,60]
a[2]=300
print(a)

[10, 20, 300, 40, 50, 60]

### Q5. Using negative indexing print last and second last element.

In [8]:
nums=[11,22,33,44,55]
print(nums[-1])
print(nums[-2])

55
44

### Q6. Update last element to 999 using negative index.

In [9]:
nums=[11,22,33,44,55]
nums[-1]=999
print(nums)

[11, 22, 33, 44, 999]

### Q7. Slice elements from index 2 to 6.

In [11]:
nums=[11,22,33,44,55,66,77,88,99]
print(nums[2:7])

[33, 44, 55, 66, 77]

### Q8. Print even index elements and reverse list.

In [14]:
a=[2,4,6,8,10,12]
print(a[::2])
print(a[::-1])

[2, 6, 10]
[12, 10, 8, 6, 4, 2]

### Q9. Append 10,20,30 one by one to empty list.

In [21]:
list=[]
(list.append(10));print(list)
(list.append(20));print(list)
(list.append(30));print(list)
print(list)

[10]
[10, 20]
[10, 20, 30]
[10, 20, 30]

### Q10. Append a user entered number to a list.

In [29]:
a=[11,22,33,44,55]
num=int(input("ENTER A NUMBER :  " ))
a.append(num)
print(a)

ENTER A NUMBER :  66
[11, 22, 33, 44, 55, 66]

### Q11. Extend [1,2,3] with [4,5,6].

In [32]:
list=[1,2,3]
list.extend([4,5,6])
print(list)

[1, 2, 3, 4, 5, 6]

### Q12. Extend a list using another list.

In [34]:
list1=[11,22,33,44,55]
list2=[66,77,88,99]
list1.extend(list2)
print(list1)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

### Q13. Insert 100 at index 2 in [10,20,30,40].

In [36]:
list1= [10,20,30,40]
list1.insert(2,100)
print(list1)

[10, 20, 100, 30, 40]

### Q14. Insert 'Python' at beginning of list.

In [37]:
list1=[11,22,33,44,55]
list1.insert(0,"Python")
print(list1)

['Python', 11, 22, 33, 44, 55]

### Q15. Remove value 20 from [10,20,30,20].

In [40]:
list1=[10,20,30,20]
list1.remove(20)
print(list1)

[10, 30, 20]

### Q16. Try removing a value that does not exist.

In [43]:
a=[11,22,33,44,55]
a.remove(20)
print(a)
# 20 is not in list.

ValueError: list.remove(x): x not in list

### Q17. Pop last element from [1,2,3,4].

In [45]:
a= [1,2,3,4]
a.pop(3)
print(a)

[1, 2, 3]

### Q18. Pop element at index 1 and store it.

In [46]:
a=[11,22,33,44,55]
a.pop(1)
print(a)

[11, 33, 44, 55]

### Q19. Clear a list and print it.

In [47]:
a=[11,22,33,44,55]
a.clear()
print(a)

[]

### Q20. Check length before and after clear().

In [49]:
a=[11,22,33,44,55,66]
print(len(a))
a.clear()
print(len(a))

6
0

### Q21. Find length of [10,20,30,40,50].

In [51]:
a=[10,20,30,40,50]
print(len(a))

5

### Q22. Check if list is empty using len().

In [56]:
a=[]
if len(a)==0:
  print("list is empty")

else:
        print("list is not empty")

list is empty

### Q23. Concatenate two lists.

In [57]:
list1=[1,2,3,4,5]
list2=[11,22,33,44,55]
list3=[list1+list2]
print(list3)

[[1, 2, 3, 4, 5, 11, 22, 33, 44, 55]]

In [63]:
list1=[1,2,3,4,5]
list2=[11,22,33,44,55]
list3=list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55]

In [65]:
list1=[1,2,3,4,5]
list2=[11,22,33,44,55]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, [11, 22, 33, 44, 55]]

### Q24. Repeat [1,2] three times and check membership of 2.

In [69]:
a=[1,2,2,1,1,1,1,2,2,2,2,2]
print(a.count(2))

7

### Q25. Squares from 1 to 10 using list comprehension.

In [76]:
sq=[x**2 for x in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Q26. Numbers from 0 to 20 using list comprehension.

In [77]:
num=[x for x in range(1,21)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Q27. Cubes of 1–5 using loop.

In [83]:
for i in range(1,6):
  print(i**3)

1
8
27
64
125

### Q28. Cubes of 1–5 using list comprehension.

In [82]:
c=[x**3 for x in range(1,6)]
print(c)

[1, 8, 27, 64, 125]

### Q29. Even numbers between 1 and 50.

In [3]:
for i in range(1,51):
  if i%2==0:
   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [7]:
for i in range(2,51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### Q30. Filter marks greater than 60.

In [9]:
marks=[99,22,88,44,66,55,77]
result=[m for m in marks if m>60]
print(result)

[99, 88, 66, 77]

### Q31. Label numbers Even/Odd.

In [15]:
numbers = [10, 15, 22, 33, 40]

result = []

for n in numbers:
    if n % 2 == 0:
        result.append((n, "Even"))
    else:
        result.append((n, "Odd"))

print(result)

[(10, 'Even'), (15, 'Odd'), (22, 'Even'), (33, 'Odd'), (40, 'Even')]

### Q32. Label salaries High/Low.

In [ ]:
# Write your answer here

### Q33. Flatten [[1,2,3],[4,5,6],[7,8,9]].

In [ ]:
# Write your answer here

### Q34. Create (x,y) pairs from 1 to 3.

In [ ]:
# Write your answer here

### Q35. Split 'Python is very powerful'.

In [24]:
a = "Python is very powerful"
b=a.split()
print(b)

['Python', 'is', 'very', 'powerful']

### Q36. Split '10,20,30,40' into numbers.

In [30]:
a=["10,20,30,40"]
b= a[0].split(",")
print(b)

['10', '20', '30', '40']

### Q37. Join ['Data','Analyst','Python'] with space.

In [47]:
text=['Data','Analyst','Python']
result=" ".join(text)
print(result)

Data Analyst Python

### Q38. Join characters using '_' separator.

In [45]:
text=[ 'D','O','G']
result="_".join(text)
print(result)

D_O_G

### Q39. Filter eligible voters (age>=18).

In [53]:
ages =[9,99,76,12,44,65]
eligible= [age for age in ages if age>=18]
print(eligible)

[99, 76, 44, 65]

### Q40. Extract positive numbers.

In [56]:
list1 = [ 1,-1,2,-3,65,99,-100,109]
positive=[list for list in list1 if list>0]
print(positive)

[1, 2, 65, 99, 109]

### Q41. Convert names to uppercase.

In [63]:
names=['dhiraj','shivam','abhay']
result=[name.upper()for name in names]
print(result)

['DHIRAJ', 'SHIVAM', 'ABHAY']

### Q42. Add 18% GST to prices.

In [68]:
product_price=[ 10,20,30,40,50]

final_price=[price*1.18 for price in product_price]

print(final_price)

[11.799999999999999, 23.599999999999998, 35.4, 47.199999999999996, 59.0]

### Q43. Convert list to tuple and set.

In [71]:
data=[1,32,55,77,898]
new=tuple(data)
print(new)
new2=set(data)
print(new2)

(1, 32, 55, 77, 898)
{32, 1, 898, 77, 55}

### Q44. Remove duplicates by converting list to set.

In [73]:
data=[1,2,2,3,3,3,3,5,76,8]
k=set(data)
print(k)

{1, 2, 3, 5, 8, 76}